<footer>
    <div class="container text-center">
        <ul class="list-inline social-buttons">
            <li>
                <a href="{{_base.social.facebook}}">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="{{_base.social.twitter}}">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="{{_base.social.linkedin}}">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
    <hr/>
    <div class="container text-center">
        {{_base.name}} by
        <img src="/assets/img/softlooplogo.png" />
        <a href="http://softloop.gr">SoftLoop</a> -
        <a href="terms.html">{{_base.footer.terms}}</a> -
        <a href="sitemap.html">Sitemap</a>
    </div>
</footer>
