<div class="header hidden-xs">
    <div class="container">
        <ul class="list-inline">
            <li class="static">
                <i class="fa fa-fw fa-phone"></i> {{_base.phone}}
            </li>
            <li class="static">
                <i class="fa fa-fw fa-envelope-o"></i> {{_base.email}}
            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a href="javascript;" class="language-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{{_base.language.title}}</span>
                    <span class="caret"></span>
                </a>
                <ul class="language-menu dropdown-menu">
                    {{#each _base.languages}}
                        <li><a href="/{{@key}}/{{@root._page}}.html">{{this}}</a></li>
                    {{/each}}
                </ul>
            </li>
            <li class="pull-right">
                {{#if _base.social.facebook}}
                    <a class="btn-social btn-social-facebook" href="{{_base.social.facebook}}">
                        <i class="fa fa-facebook fa-fw"></i>
                    </a>
                {{/if}}
                {{#if _base.social.twitter}}
                    <a class="btn-social btn-social-twitter" href="{{_base.social.twitter}}">
                        <i class="fa fa-twitter fa-fw"></i>
                    </a>
                {{/if}}
                {{#if _base.social.linkedin}}
                    <a class="btn-social btn-social-linkedin" href="{{_base.social.linkedin}}">
                        <i class="fa fa-linkedin fa-fw"></i>
                    </a>
                {{/if}}
                <a class="btn-social btn-social-contact" href="contact.html">
                    <i class="fa fa-envelope-o fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
